In [1]:
import pandas as pd
from preprocess_mini02 import *

In [26]:
air21_knn = pd.read_csv('air21_knn.csv')
air22_knn = pd.read_csv('air22_knn.csv')

weather21 = pd.read_csv('weather_2021.csv', encoding='cp949')
weather22 = pd.read_csv('weather_2022.csv', encoding='cp949')

In [27]:
air21_knn.rename(columns={'time': '일시'}, inplace=True)
air22_knn.rename(columns={'time': '일시'}, inplace=True)

In [28]:
trans_datetime(air21_knn)
trans_datetime(air22_knn)

In [29]:
fill_weather(weather21)
fill_weather(weather22)

In [30]:
air22_knn

        SO2   CO     O3    NO2  PM10  PM25                  일시
0     0.003  0.4  0.026  0.016  23.0  12.0 2022-01-01 01:00:00
1     0.003  0.4  0.022  0.020  20.0   9.0 2022-01-01 02:00:00
2     0.003  0.5  0.014  0.028  20.0   9.0 2022-01-01 03:00:00
3     0.003  0.5  0.016  0.027  19.0  10.0 2022-01-01 04:00:00
4     0.003  0.5  0.005  0.040  24.0  11.0 2022-01-01 05:00:00
...     ...  ...    ...    ...   ...   ...                 ...
2155  0.002  0.4  0.036  0.017  11.0   8.0 2022-03-31 20:00:00
2156  0.002  0.4  0.032  0.018  10.0   7.0 2022-03-31 21:00:00
2157  0.003  0.3  0.038  0.013  11.0   5.0 2022-03-31 22:00:00
2158  0.003  0.3  0.036  0.015  11.0   5.0 2022-03-31 23:00:00
2159  0.002  0.4  0.033  0.017   9.0   5.0 2022-04-01 00:00:00

[2160 rows x 7 columns]

In [31]:
weather22

,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,운형(Ci),운형(Cc),운형(Cs),운형(Ac),운형(As),운형(Ns),운형(Sc),운형(St),운형(Cu),운형(Cb)
0,2022-01-01 00:00:00,-8.5,0.0,1.9,320,41,1.3,-19.4,1021.9,1033.2,...,0,0,0,0,0,0,0,0,0,0
1,2022-01-01 01:00:00,-9.2,0.0,1.8,270,42,1.3,-19.7,1022.2,1033.6,...,0,0,0,0,0,0,0,0,0,0
2,2022-01-01 02:00:00,-9.5,0.0,1.2,270,43,1.3,-19.7,1022.3,1033.7,...,0,0,0,0,0,0,0,0,0,0
3,2022-01-01 03:00:00,-9.3,0.0,1.4,290,46,1.4,-18.8,1022.6,1034.0,...,0,0,0,0,0,0,0,0,0,0
4,2022-01-01 04:00:00,-9.6,0.0,1.7,340,48,1.4,-18.5,1021.9,1033.3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2022-03-31 19:00:00,12.3,0.0,2.9,340,47,6.7,1.2,1013.4,1023.8,...,0,0,0,0,0,0,0,0,0,0
2156,2022-03-31 20:00:00,11.6,0.0,2.7,340,48,6.5,0.9,1014.6,1025.0,...,0,0,0,0,0,0,0,0,0,0
2157,2022-03-31 21:00:00,10.5,0.0,3.5,320,51,6.4,0.7,1015.4,1025.9,...,0,0,0,0,0,0,1,0,0,0
2158,2022-03-31 22:00:00,9.3,0.0,1.9,50,58,6.8,1.4,1016.4,1026.9,...,0,0,0,0,0,0,0,0,0,0
2159,2022-03-31 23:00:00,8.4,0.0,1.2,360,61,6.7,1.3,1016.9,1027.4,...,0,0,0,0,0,0,0,0,0,0

In [32]:
preprocess_data_21 = pd.merge(air21_knn, weather21)
preprocess_data_22 = pd.merge(air22_knn, weather22)

In [33]:
preprocess_data_22

,SO2,CO,O3,NO2,PM10,PM25,일시,기온(°C),강수량(mm),풍속(m/s),...,운형(Ci),운형(Cc),운형(Cs),운형(Ac),운형(As),운형(Ns),운형(Sc),운형(St),운형(Cu),운형(Cb)
0,0.003,0.4,0.026,0.016,23.0,12.0,2022-01-01 01:00:00,-9.2,0.0,1.8,...,0,0,0,0,0,0,0,0,0,0
1,0.003,0.4,0.022,0.020,20.0,9.0,2022-01-01 02:00:00,-9.5,0.0,1.2,...,0,0,0,0,0,0,0,0,0,0
2,0.003,0.5,0.014,0.028,20.0,9.0,2022-01-01 03:00:00,-9.3,0.0,1.4,...,0,0,0,0,0,0,0,0,0,0
3,0.003,0.5,0.016,0.027,19.0,10.0,2022-01-01 04:00:00,-9.6,0.0,1.7,...,0,0,0,0,0,0,0,0,0,0
4,0.003,0.5,0.005,0.040,24.0,11.0,2022-01-01 05:00:00,-9.7,0.0,0.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,0.002,0.4,0.044,0.010,10.0,9.0,2022-03-31 19:00:00,12.3,0.0,2.9,...,0,0,0,0,0,0,0,0,0,0
2155,0.002,0.4,0.036,0.017,11.0,8.0,2022-03-31 20:00:00,11.6,0.0,2.7,...,0,0,0,0,0,0,0,0,0,0
2156,0.002,0.4,0.032,0.018,10.0,7.0,2022-03-31 21:00:00,10.5,0.0,3.5,...,0,0,0,0,0,0,1,0,0,0
2157,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 22:00:00,9.3,0.0,1.9,...,0,0,0,0,0,0,0,0,0,0
2158,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 23:00:00,8.4,0.0,1.2,...,0,0,0,0,0,0,0,0,0,0

In [34]:
preprocess_data_21.to_csv('pre_data_21_v1.csv', index=False, encoding='utf-8')
preprocess_data_22.to_csv('pre_data_22_v1.csv', index=False, encoding='utf-8')

In [40]:
air = pd.read_csv('air_2021.csv', index_col=0)
weather = pd.read_csv('weather_2021.csv', encoding='cp949')

In [41]:
weather.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
기온 QC플래그         8759
강수량(mm)          7810
강수량 QC플래그        6996
풍속(m/s)             2
풍속 QC플래그         8757
풍향(16방위)            2
풍향 QC플래그         8757
습도(%)               0
습도 QC플래그         8759
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       8759
해면기압(hPa)           0
해면기압 QC플래그       8759
일조(hr)           3968
일조 QC플래그         4791
일사(MJ/m2)        3968
일사 QC플래그         4791
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
운형(운형약어)         3812
최저운고(100m )      4212
시정(10m)             0
지면상태(지면상태코드)     8759
현상번호(국내식)        6634
지면온도(°C)            5
지면온도 QC플래그       8735
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [42]:
weather.shape

(8759, 38)

In [66]:
weather.loc[weather['적설(cm)'].notnull(), ['일시', '적설(cm)', '3시간신적설(cm)']]

                    일시  적설(cm)  3시간신적설(cm)
94    2021-01-04 23:00     0.0         NaN
95    2021-01-05 00:00     0.0         0.0
96    2021-01-05 01:00     0.0         NaN
97    2021-01-05 02:00     0.0         NaN
98    2021-01-05 03:00     0.0         0.0
...                ...     ...         ...
8693  2021-12-29 06:00     0.3         0.3
8694  2021-12-29 07:00     0.2         NaN
8695  2021-12-29 08:00     0.2         NaN
8696  2021-12-29 09:00     0.1         NaN
8697  2021-12-29 10:00     0.1         NaN

[379 rows x 3 columns]

In [44]:
weather.columns

Index(['지점', '지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그',
       '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)',
       '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '일사 QC플래그', '적설(cm)',
       '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )',
       '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그',
       '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [70]:
target1 = '현상번호(국내식)'
target2 = '운형(운형약어)'

In [71]:
weather.loc[weather[target1].notnull(), [target1, target2]].value_counts()

현상번호(국내식)   운형(운형약어)
1901.0      StNs        321
1.0         ScAs        303
19.0        Sc          153
            Ci           75
1901.0      ScAs         72
                       ...
4.0         CbScNs        1
1905.0      ScAs          1
4.0         CbScCs        1
1906.0      Sc            1
19160201.0  StNs          1
Length: 131, dtype: int64