# 안녕하세요:)

## AIVLE 1차 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.


* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
    - 버스 승하차 및 운행 노선 데이터 

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [1]:
import pandas as pd

In [2]:
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [3]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [4]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving
# 구별 상권 데이터 - df_seoul_business
# 구별 등록 인구 데이터 - df_seoul_people

In [5]:
df_seoul_bus_station = pd.read_csv('df_seoul_bus_station.csv', sep=",", encoding = 'UTF-8')

In [6]:
df_seoul_bus_station.head()

   자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0  강남구   499   91  8030483  7569213  128.767927  121.371512
1  강동구   369   21  2890053  2830506   99.161194   97.118065
2  강북구   413   67  4825181  4671783  133.020373  128.791504
3  강서구   566   49  4681083  4652828   88.119480   87.587591
4  관악구   466   86  7655819  7792476  154.753674  157.516040

In [13]:
df_seoul_moving = pd.read_csv('df_seoul_moving.csv', sep=",", encoding = 'UTF-8')

In [14]:
df_seoul_moving.head()

   도착 시군구 코드  평균 이동 시간(분)   이동인구(평균)  총 이동 시간(분)      이동인구(합)
0      11010    21.443330  41.523063    10239340  19827553.13
1      11020    21.166269  41.760859    10285410  20293021.43
2      11030    21.553622  34.676168     9488120  15264795.74
3      11040    21.950757  39.907793     9952210  18093714.50
4      11050    22.779081  43.712430     9761770  18732568.44

In [15]:
df = pd.merge(standard,df_seoul_bus_station,how='inner', on='자치구')

In [16]:
df = pd.merge(df,df_seoul_moving,how='inner', on='도착 시군구 코드')

In [17]:
df.sort_values(by=['승차총승객수'])

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,평균 이동 시간(분),이동인구(평균),총 이동 시간(분),이동인구(합)
0,11010,종로구,349,106,5468935,5205394,131.889620,125.534028,21.443330,41.523063,10239340,19827553.13
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,21.166269,41.760859,10285410,20293021.43
2,11030,용산구,323,67,4189977,4086474,137.891694,134.485421,21.553622,34.676168,9488120,15264795.74
3,11040,성동구,435,58,2807280,2746738,96.377369,94.298888,21.950757,39.907793,9952210,18093714.50
4,11050,광진구,269,41,2749448,2753411,118.352546,118.523137,22.779081,43.712430,9761770,18732568.44
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,21.985940,37.394532,9998260,17005424.97
6,11070,중랑구,380,48,3792541,3740923,87.403863,86.214261,23.849072,38.086766,9102380,14536423.71
7,11080,성북구,602,99,6236424,6231238,123.251922,123.149430,22.508757,42.648641,10314120,19542758.96
8,11090,강북구,413,67,4825181,4671783,133.020373,128.791504,24.282441,36.281421,8765160,13096395.71
9,11100,도봉구,359,46,3304305,3211421,106.859356,103.855540,25.102882,35.099543,8053130,11260109.02
10,11110,노원구,514,57,4353295,4292724,88.476211,87.245168,24.497542,51.091182,10256190,21389936.36
11,11120,은평구,501,71,5201660,5122499,106.395173,104.776007,25.066142,46.712972,9222310,17186589.93
12,11130,서대문구,456,107,5863499,5796960,109.914502,108.667192,22.328288,39.908331,9470030,16926200.89
13,11140,마포구,562,97,5088461,4957596,103.907639,101.235343,22.322323,51.123170,10722260,24556401.25
14,11150,양천구,319,56,4009172,3851173,97.627526,93.780086,23.233772,43.124416,8445360,15675509.46
15,11160,강서구,566,49,4681083,4652828,88.119480,87.587591,25.496986,54.208682,10718780,22789004.72
16,11170,구로구,486,79,4942197,4730992,119.235615,114.140076,23.480408,38.895596,9072360,15028480.32
17,11180,금천구,345,58,3776658,3581930,123.098370,116.751304,24.394485,28.730583,7190250,8468310.47
18,11190,영등포구,465,101,5739875,5783211,120.337855,121.246404,21.877909,52.142928,10842320,25841148.91
19,11200,동작구,438,94,5314274,5112276,124.295965,119.571419,22.215130,38.417589,9528980,16478879.02
20,11210,관악구,466,86,7655819,7792476,154.753674,157.516040,23.842468,46.586809,10091730,19718658.80
21,11220,서초구,600,93,7221330,6977950,126.687777,122.418028,22.959344,59.509766,11489820,29781186.30
22,11230,강남구,499,91,8030483,7569213,128.767927,121.371512,23.284573,83.309306,12904380,46170267.40
23,11240,송파구,415,55,5641742,5603488,114.270072,113.495260,25.605607,77.326264,11978610,36174154.00
24,11250,강동구,369,21,2890053,2830506,99.161194,97.118065,26.108477,59.889404,9596980,22014206.89

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

? 정해진게 없나요? - 네 라벨을 개인및 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다
? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다
? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

## 가설을 설정해 봅시다 (인당 최소 3개) - 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1
    - H : 야간 상주지 (집)
    - W : 주간 상주지 (직장)

HW, WH의 전체 평균 이동 시간이 길 수록 거리가

* 가설 2

* 가설 3

## 2.단변량 분석

+ 변수의 비즈니스 의미  

+ 숫자? 범주?  

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용(비즈니스!) 정리  

+ 추가 분석해볼 사항 도출

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

In [ ]:
target =

### 1)

### 2)

### 3)

## 4.관계 정리

### 1) 강한 관계의 변수

### 2) 약한 관계의 변수

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?