In [1]:
import pandas as pd
import requests

In [10]:
def stock_price(url):
    response = requests.get(url)
    data = pd.DataFrame(response.json())
    return data[['localTradedAt', 'closePrice']]

In [15]:
page = 1
page_size = 60
usd_url = f'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={page_size}'

df = stock_price(usd_url)

In [16]:
df.head()

  localTradedAt closePrice
0    2022-08-03   1,309.40
1    2022-08-02   1,312.00
2    2022-08-01   1,305.00
3    2022-07-29   1,304.50
4    2022-07-28   1,302.00

In [17]:
kospi_url = f'https://m.stock.naver.com/api/index/KOSPI/price?pageSize={page_size}&page={page}'

In [18]:
kospi = stock_price(kospi_url)
usd = stock_price(usd_url)

In [51]:
def stock_price(code="KOSPI", page=1, page_size=60):
    """ This function is crwaling stock price from naver stock web page
    parameters :
        code : str : KOSPI or KOSDAQ
        page : int : page number
        page_size : int : one page size
    return :
        type : DataFame of pandas"""
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={page_size}&page={page}'
    response = requests.get(url)
    columns = ["localTradedAt", "closePrice"]
    datas = response.json()
    return pd.DataFrame(datas)[columns]

In [52]:
def exchage_rate(code="FX_USDKRW", page=1, page_size=60):
    url = f'https://api.stock.naver.com/marketindex/exchange/{code}/prices?page={page}\
&pageSize={page_size}'
    response = requests.get(url)
    columns = ["localTradedAt", "closePrice"]
    datas = response.json()
    return pd.DataFrame(datas)[columns]

In [53]:
df = kospi.copy()

In [54]:
kosdaq = stock_price("KOSDAQ")

In [55]:
df

   localTradedAt closePrice
0     2022-08-03   2,455.25
1     2022-08-02   2,439.62
2     2022-08-01   2,452.25
3     2022-07-29   2,451.50
4     2022-07-28   2,435.27
5     2022-07-27   2,415.53
6     2022-07-26   2,412.96
7     2022-07-25   2,403.69
8     2022-07-22   2,393.14
9     2022-07-21   2,409.16
10    2022-07-20   2,386.85
11    2022-07-19   2,370.97
12    2022-07-18   2,375.25
13    2022-07-15   2,330.98
14    2022-07-14   2,322.32
15    2022-07-13   2,328.61
16    2022-07-12   2,317.76
17    2022-07-11   2,340.27
18    2022-07-08   2,350.61
19    2022-07-07   2,334.27
20    2022-07-06   2,292.01
21    2022-07-05   2,341.78
22    2022-07-04   2,300.34
23    2022-07-01   2,305.42
24    2022-06-30   2,332.64
25    2022-06-29   2,377.99
26    2022-06-28   2,422.09
27    2022-06-27   2,401.92
28    2022-06-24   2,366.60
29    2022-06-23   2,314.32
30    2022-06-22   2,342.81
31    2022-06-21   2,408.93
32    2022-06-20   2,391.03
33    2022-06-17   2,440.93
34    2022-06-16   2,451.41
35    2022-06-15   2,447.38
36    2022-06-14   2,492.97
37    2022-06-13   2,504.51
38    2022-06-10   2,595.87
39    2022-06-09   2,625.44
40    2022-06-08   2,626.15
41    2022-06-07   2,626.34
42    2022-06-03   2,670.65
43    2022-06-02   2,658.99
44    2022-05-31   2,685.90
45    2022-05-30   2,669.66
46    2022-05-27   2,638.05
47    2022-05-26   2,612.45
48    2022-05-25   2,617.22
49    2022-05-24   2,605.87
50    2022-05-23   2,647.38
51    2022-05-20   2,639.29
52    2022-05-19   2,592.34
53    2022-05-18   2,625.98
54    2022-05-17   2,620.44
55    2022-05-16   2,596.58
56    2022-05-13   2,604.24
57    2022-05-12   2,550.08
58    2022-05-11   2,592.27
59    2022-05-10   2,596.56

In [56]:
kosdaq

   localTradedAt closePrice
0     2022-08-03     813.35
1     2022-08-02     804.34
2     2022-08-01     807.61
3     2022-07-29     803.62
4     2022-07-28     798.32
5     2022-07-27     795.70
6     2022-07-26     789.93
7     2022-07-25     789.69
8     2022-07-22     789.75
9     2022-07-21     795.15
10    2022-07-20     790.72
11    2022-07-19     782.33
12    2022-07-18     776.72
13    2022-07-15     762.39
14    2022-07-14     766.08
15    2022-07-13     763.18
16    2022-07-12     750.78
17    2022-07-11     767.04
18    2022-07-08     766.48
19    2022-07-07     757.97
20    2022-07-06     744.63
21    2022-07-05     750.95
22    2022-07-04     722.73
23    2022-07-01     729.48
24    2022-06-30     745.44
25    2022-06-29     762.35
26    2022-06-28     769.51
27    2022-06-27     770.60
28    2022-06-24     750.30
29    2022-06-23     714.38
30    2022-06-22     746.96
31    2022-06-21     778.30
32    2022-06-20     769.92
33    2022-06-17     798.69
34    2022-06-16     802.15
35    2022-06-15     799.41
36    2022-06-14     823.58
37    2022-06-13     828.77
38    2022-06-10     869.86
39    2022-06-09     877.18
40    2022-06-08     874.95
41    2022-06-07     873.78
42    2022-06-03     891.51
43    2022-06-02     891.14
44    2022-05-31     893.36
45    2022-05-30     886.44
46    2022-05-27     873.97
47    2022-05-26     871.43
48    2022-05-25     872.69
49    2022-05-24     865.07
50    2022-05-23     883.59
51    2022-05-20     879.88
52    2022-05-19     863.80
53    2022-05-18     871.57
54    2022-05-17     865.98
55    2022-05-16     856.25
56    2022-05-13     853.08
57    2022-05-12     833.66
58    2022-05-11     866.34
59    2022-05-10     856.14

In [57]:
df['kosdaq'] = kosdaq['closePrice']
df['usd'] = usd['closePrice']

In [58]:
df

   localTradedAt closePrice  kosdaq       usd
0     2022-08-03   2,455.25  813.35  1,309.40
1     2022-08-02   2,439.62  804.34  1,312.00
2     2022-08-01   2,452.25  807.61  1,305.00
3     2022-07-29   2,451.50  803.62  1,304.50
4     2022-07-28   2,435.27  798.32  1,302.00
5     2022-07-27   2,415.53  795.70  1,314.00
6     2022-07-26   2,412.96  789.93  1,311.00
7     2022-07-25   2,403.69  789.69  1,312.00
8     2022-07-22   2,393.14  789.75  1,310.00
9     2022-07-21   2,409.16  795.15  1,315.00
10    2022-07-20   2,386.85  790.72  1,312.00
11    2022-07-19   2,370.97  782.33  1,309.00
12    2022-07-18   2,375.25  776.72  1,315.50
13    2022-07-15   2,330.98  762.39  1,325.00
14    2022-07-14   2,322.32  766.08  1,324.00
15    2022-07-13   2,328.61  763.18  1,305.00
16    2022-07-12   2,317.76  750.78  1,309.00
17    2022-07-11   2,340.27  767.04  1,314.00
18    2022-07-08   2,350.61  766.48  1,300.00
19    2022-07-07   2,334.27  757.97  1,300.50
20    2022-07-06   2,292.01  744.63  1,306.00
21    2022-07-05   2,341.78  750.95  1,311.50
22    2022-07-04   2,300.34  722.73  1,295.50
23    2022-07-01   2,305.42  729.48  1,298.00
24    2022-06-30   2,332.64  745.44  1,301.50
25    2022-06-29   2,377.99  762.35  1,297.50
26    2022-06-28   2,422.09  769.51  1,291.00
27    2022-06-27   2,401.92  770.60  1,285.00
28    2022-06-24   2,366.60  750.30  1,296.00
29    2022-06-23   2,314.32  714.38  1,303.50
30    2022-06-22   2,342.81  746.96  1,302.50
31    2022-06-21   2,408.93  778.30  1,293.50
32    2022-06-20   2,391.03  769.92  1,293.00
33    2022-06-17   2,440.93  798.69  1,295.00
34    2022-06-16   2,451.41  802.15  1,293.50
35    2022-06-15   2,447.38  799.41  1,291.50
36    2022-06-14   2,492.97  823.58  1,289.50
37    2022-06-13   2,504.51  828.77  1,288.00
38    2022-06-10   2,595.87  869.86  1,280.00
39    2022-06-09   2,625.44  877.18  1,256.00
40    2022-06-08   2,626.15  874.95  1,257.50
41    2022-06-07   2,626.34  873.78  1,257.50
42    2022-06-03   2,670.65  891.51  1,252.00
43    2022-06-02   2,658.99  891.14  1,250.50
44    2022-05-31   2,685.90  893.36  1,248.00
45    2022-05-30   2,669.66  886.44  1,238.50
46    2022-05-27   2,638.05  873.97  1,256.00
47    2022-05-26   2,612.45  871.43  1,265.50
48    2022-05-25   2,617.22  872.69  1,271.00
49    2022-05-24   2,605.87  865.07  1,265.00
50    2022-05-23   2,647.38  883.59  1,264.50
51    2022-05-20   2,639.29  879.88  1,273.00
52    2022-05-19   2,592.34  863.80  1,278.00
53    2022-05-18   2,625.98  871.57  1,267.50
54    2022-05-17   2,620.44  865.98  1,270.50
55    2022-05-16   2,596.58  856.25  1,285.00
56    2022-05-13   2,604.24  853.08  1,284.00
57    2022-05-12   2,550.08  833.66  1,290.50
58    2022-05-11   2,592.27  866.34  1,274.50
59    2022-05-10   2,596.56  856.14  1,276.00

In [59]:
df.head(10)

  localTradedAt closePrice  kosdaq       usd
0    2022-08-03   2,455.25  813.35  1,309.40
1    2022-08-02   2,439.62  804.34  1,312.00
2    2022-08-01   2,452.25  807.61  1,305.00
3    2022-07-29   2,451.50  803.62  1,304.50
4    2022-07-28   2,435.27  798.32  1,302.00
5    2022-07-27   2,415.53  795.70  1,314.00
6    2022-07-26   2,412.96  789.93  1,311.00
7    2022-07-25   2,403.69  789.69  1,312.00
8    2022-07-22   2,393.14  789.75  1,310.00
9    2022-07-21   2,409.16  795.15  1,315.00

In [60]:

type(df)

pandas.core.frame.DataFrame

In [61]:
df.rename(columns={'closePrice': 'kospi'}, inplace=True)

In [66]:
for col in df.columns[1:]:
    df[col] = df[col].apply(lambda data: float(data.replace(",", "")))

In [67]:
df.corr()

           kospi    kosdaq       usd
kospi   1.000000  0.984043 -0.878546
kosdaq  0.984043  1.000000 -0.821555
usd    -0.878546 -0.821555  1.000000

In [68]:
df.columns

Index(['localTradedAt', 'kospi', 'kosdaq', 'usd'], dtype='object')

In [69]:
df.dtypes

localTradedAt     object
kospi            float64
kosdaq           float64
usd              float64
dtype: object