# Pandas 리마인드

### 실습 1 : 데이터 살펴보기

* Q0. 라이브러리 불러오기

* Q1. pandas read_csv 함수를 이용하여 파일을 읽고, titanic 변수에 담습니다. 
    * 링크 : https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic.0.csv

* Q2. titanic의 shape를 확인합니다.

* Q3. titanic의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

* Q4. titanic의 데이터의 첫 3행의 데이터와 마지막 3행의 데이터를 출력합니다.

* Q5. 기초 통계량을 조회합시다.

* Q6. titanic의 데이터를 'Fare' 칼럼을 기준으로 내림차순으로 정렬합니다.

* Q7. 운임('Fare')을 가장 많이 내고 탄 사람 10명을 조회하시오.

### 실습 2 : 데이터 조회하기

* Q0. 라이브러리 불러오기

* Q1. pandas read_csv 함수를 이용하여 파일을 읽고 boston 변수에 담습니다.

    * 링크 : https://raw.githubusercontent.com/DA4BAM/dataset/master/boston2.csv

* Q2. boston의 shape를 확인합니다.

* Q3. boston의 crim 변수를 Series 형태로 조회하시오.

* Q4. boston의 crim 변수를 DataFrame 형태로 조회하시오.

* Q5. .loc을 이용하여 10행까지, 열은 crim, lstat, medv를 조회하시오.

* Q6. .iloc을 이용하여 Q5와 동일한 결과를 내시오.

### 실습 3 : 원하는 데이터 조회하기

* Q0. 라이브러리 불러오기

* Q1. 아래 링크에서 데이터를 읽어 boston으로 저장합니다.

    * https://raw.githubusercontent.com/DA4BAM/dataset/master/boston2.csv

Q2. boston의 shape를 확인합니다.

* Q3. boston의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

* Q4. unique 함수를 가지고 'zn2'의 칼럼에 들어있는 값의 종류를 확인합니다.

* Q5. 타운들에 대해서 전체 평균 집값(medv)을 구하시오.

    * 평균 : .mean( )

* Q6. 찰스강변(chas == 1)이면서 집값(medv)이 전체 평균보다 낮은 데이터를 조회하시오.

* Q7. 범죄율이 5% ~ 10% 사이의 데이터를 조회하시오.

* Q8. titanic 데이터를 이용하여, 가장 비싼 운임을 내고 탄 사람을 조회하시오.

* Q9. titanic 데이터에서 객실등급 1등급이면서 20대인 남자 탑승객의 평균 운임을 구하시오

### 실습 4 : 데이터프레임 수정하기

* Q0. 라이브러리 불러오기

* Q1. 아래 링크를 titanic 변수에 저장하시오.

    * https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic.0.csv

* Q2. 연령대( (0,10], (10,20], (20,30], (30,40], (40,50], (50,100]) ) 칼럼을 추가하시오.

    * (0,10] : 0보다 크고, 10보다 작거나 같다.

* Q3. PassengerId, Name, SibSp, Parch, Ticket, Cabin 열을 삭제하시오.

* Q4. 성별(Sex) - male, female의 값을 m, f로 변경하시오.

### 실습 5 : Group by

* 타이타닉 데이터를 이용하시오

* Q1. 객실 등급별 평균 나이

* Q2. 승선 지역별 평균 운임

* Q3. 승선 지역별 생존 여부별 탑승객 수

* Q4. 객실 등급별, 생존 여부별, 평균 운임, 최대 운임, 최소 운임