# 데이터 전처리

#### 머신러닝 코드 구조 <br>

![이미지](https://github.com/DA4BAM/dataset/blob/master/new_code.png?raw=true "code step1")

## 00.환경준비

### 01.Import

In [1]:
# 라이브러리들을 불러오자.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 02.data loading

* 주가 데이터 가져오기

In [2]:
stock = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/SK.csv') 
stock.drop('AdjClose', axis=1, inplace=True)

exch_rate = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/USD_KRW.csv')
exch_rate.drop(['open', 'high', 'low'], axis=1, inplace=True)
exch_rate.rename(columns={'date':'Date', 'close':'exch_Close', 'diff':'exch_Diff'},inplace=True)

In [3]:
stock.head()

         Date      Open      High       Low     Close    Volume
0  2016-01-04  243000.0  245000.0  234500.0  234500.0  173905.0
1  2016-01-05  236000.0  244000.0  234000.0  241000.0  182985.0
2  2016-01-06  241000.0  243000.0  237500.0  239000.0  108574.0
3  2016-01-07  237000.0  243000.0  236000.0  240500.0  113376.0
4  2016-01-08  240500.0  242500.0  235000.0  241500.0   81557.0

In [4]:
exch_rate.head()

         Date  exch_Close  exch_Diff
0  2019-12-31      1155.1    -0.0025
1  2019-12-30      1158.0    -0.0015
2  2019-12-27      1159.7    -0.0023
3  2019-12-26      1162.3     0.0013
4  2019-12-25      1160.8    -0.0024

* 하나의 데이터로 결합

In [5]:
data = pd.merge(stock, exch_rate, how='left', on='Date')

data.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,0.0127
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.0004
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,0.0082
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-0.0027
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,0.0089

## 10.데이터 이해

### 11.둘러보기

In [6]:
# 상/하위 몇개 행을 살펴 봅시다.

data.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,0.0127
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.0004
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,0.0082
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-0.0027
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,0.0089

In [7]:
# 각 칼럼의 타입을 살펴 봅시다.

data.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
exch_Close    float64
exch_Diff     float64
dtype: object

In [8]:
# 행, 열의 개수를 살펴 봅시다.

data.shape

(977, 8)

### 12.기초통계량

In [9]:
# 숫자형 변수들의 통계량을 살펴 봅니다.

data.describe()

,Open,High,Low,Close,Volume,exch_Close,exch_Diff
count,972.000000,972.000000,972.000000,972.000000,9.720000e+02,977.000000,977.000000
mean,252080.761317,255116.255144,248993.312757,252241.769547,1.171311e+05,1139.488025,0.000030
std,29305.098277,29550.396185,28885.988224,29268.540457,8.500866e+04,39.095668,0.005343
min,193000.000000,194500.000000,189000.000000,192500.000000,0.000000e+00,1054.900000,-0.020400
25%,227500.000000,230375.000000,224875.000000,227875.000000,7.668725e+04,1117.900000,-0.003200
50%,256250.000000,259500.000000,253500.000000,256750.000000,9.696600e+04,1133.900000,0.000100
75%,274500.000000,277125.000000,270625.000000,274000.000000,1.348950e+05,1169.100000,0.003400
max,331000.000000,331000.000000,321500.000000,328500.000000,1.473645e+06,1243.100000,0.026500

### 13.탐색하기

## 20.데이터 준비

### 21.변수 정리

### 22.NaN 처리

In [10]:
# NaN 확인
data.isnull().sum()

Date          0
Open          5
High          5
Low           5
Close         5
Volume        5
exch_Close    0
exch_Diff     0
dtype: int64

In [11]:
data['Open'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
972    False
973    False
974    False
975    False
976    False
Name: Open, Length: 977, dtype: bool

In [12]:
# NaN 행들을 확인해 봅시다.
data.loc[data['Open'].isnull()]

           Date  Open  High  Low  Close  Volume  exch_Close  exch_Diff
458  2017-11-16   NaN   NaN  NaN    NaN     NaN      1097.2    -0.0077
463  2017-11-23   NaN   NaN  NaN    NaN     NaN      1084.0    -0.0019
487  2018-01-02   NaN   NaN  NaN    NaN     NaN      1063.2    -0.0032
700  2018-11-15   NaN   NaN  NaN    NaN     NaN      1127.9    -0.0042
945  2019-11-14   NaN   NaN  NaN    NaN     NaN      1169.1    -0.0021

In [13]:
data.loc[(data['Date']>='2019-11-12')&(data['Date']<='2019-11-20')]
# 2019-11-14 는 목요일. 원인은 모르나 NaN으로 채워져 있음.

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
943,2019-11-12,271000.0,271000.0,268500.0,269000.0,168608.0,1166.5,0.0009
944,2019-11-13,268000.0,269500.0,261500.0,263000.0,257602.0,1171.5,0.0043
945,2019-11-14,NaN,NaN,NaN,NaN,NaN,1169.1,-0.0021
946,2019-11-15,265000.0,270000.0,265000.0,270000.0,198430.0,1163.7,-0.0046
947,2019-11-18,270000.0,275000.0,269500.0,275000.0,185370.0,1167.2,0.0031
948,2019-11-19,274500.0,276500.0,272500.0,272500.0,222226.0,1168.4,0.0010
949,2019-11-20,271500.0,274500.0,268500.0,272000.0,210122.0,1170.8,0.0021

In [14]:
# 어떻게 조치하는게 좋을까요?
# 방법1 : 행을 제거한다.

data1 = data.dropna(axis=0)
data1.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
exch_Close    0
exch_Diff     0
dtype: int64

In [15]:
data1.loc[(data1['Date']>='2019-11-12')&(data1['Date']<='2019-11-20')]

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
943,2019-11-12,271000.0,271000.0,268500.0,269000.0,168608.0,1166.5,0.0009
944,2019-11-13,268000.0,269500.0,261500.0,263000.0,257602.0,1171.5,0.0043
946,2019-11-15,265000.0,270000.0,265000.0,270000.0,198430.0,1163.7,-0.0046
947,2019-11-18,270000.0,275000.0,269500.0,275000.0,185370.0,1167.2,0.0031
948,2019-11-19,274500.0,276500.0,272500.0,272500.0,222226.0,1168.4,0.0010
949,2019-11-20,271500.0,274500.0,268500.0,272000.0,210122.0,1170.8,0.0021

In [16]:
# 방법2 : 이전 값으로 채운다. 

data2 = data.fillna(method='ffill')
data2.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
exch_Close    0
exch_Diff     0
dtype: int64

In [17]:
data2.loc[(data2['Date']>='2019-11-12')&(data2['Date']<='2019-11-20')]

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
943,2019-11-12,271000.0,271000.0,268500.0,269000.0,168608.0,1166.5,0.0009
944,2019-11-13,268000.0,269500.0,261500.0,263000.0,257602.0,1171.5,0.0043
945,2019-11-14,268000.0,269500.0,261500.0,263000.0,257602.0,1169.1,-0.0021
946,2019-11-15,265000.0,270000.0,265000.0,270000.0,198430.0,1163.7,-0.0046
947,2019-11-18,270000.0,275000.0,269500.0,275000.0,185370.0,1167.2,0.0031
948,2019-11-19,274500.0,276500.0,272500.0,272500.0,222226.0,1168.4,0.0010
949,2019-11-20,271500.0,274500.0,268500.0,272000.0,210122.0,1170.8,0.0021

In [18]:
# 방법3 : 앞뒤값의 중간값으로 채우기

data3 = data.interpolate(method='linear')
data3.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
exch_Close    0
exch_Diff     0
dtype: int64

In [19]:
data3.loc[(data3['Date']>='2019-11-12')&(data3['Date']<='2019-11-20')]

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
943,2019-11-12,271000.0,271000.0,268500.0,269000.0,168608.0,1166.5,0.0009
944,2019-11-13,268000.0,269500.0,261500.0,263000.0,257602.0,1171.5,0.0043
945,2019-11-14,266500.0,269750.0,263250.0,266500.0,228016.0,1169.1,-0.0021
946,2019-11-15,265000.0,270000.0,265000.0,270000.0,198430.0,1163.7,-0.0046
947,2019-11-18,270000.0,275000.0,269500.0,275000.0,185370.0,1167.2,0.0031
948,2019-11-19,274500.0,276500.0,272500.0,272500.0,222226.0,1168.4,0.0010
949,2019-11-20,271500.0,274500.0,268500.0,272000.0,210122.0,1170.8,0.0021

#### 실습 9 : NaN 조치

* Q1. 주가 데이터에서 NaN이 변수별로 몇 건씩 있는지 조사하시오.

In [24]:
for column in data.columns:
    print(f'{column}: {data[column].isnull().sum()}')

Date: 0
Open: 5
High: 5
Low: 5
Close: 5
Volume: 5
exch_Close: 0
exch_Diff: 0

* Q2. NaN 행을 제거합니다. 제거해서 별도 데이터프레임으로 저장.

In [27]:
non_NaN = data.dropna(axis=0)
non_NaN.isna().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
exch_Close    0
exch_Diff     0
dtype: int64

* Q3. NaN 행에 이후 행의 값으로 채우고, 별도 데이터프레임으로 저장.
    * method='bfill'

In [36]:
bfill_NaN = data.fillna(method='bfill')
bfill_NaN[data['Open'].isnull()]

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
458,2017-11-16,296000.0,301000.0,295500.0,300000.0,132905.0,1097.2,-0.0077
463,2017-11-23,298000.0,299500.0,296500.0,298500.0,49445.0,1084.0,-0.0019
487,2018-01-02,277000.0,282000.0,277000.0,280000.0,85200.0,1063.2,-0.0032
700,2018-11-15,273000.0,276000.0,269500.0,273500.0,64050.0,1127.9,-0.0042
945,2019-11-14,265000.0,270000.0,265000.0,270000.0,198430.0,1169.1,-0.0021

* Q4. NaN 행에 값을 0으로 채우고, 별도 데이터프레임으로 저장.
    * .fillna(0)

In [37]:
zero_NaN = data.fillna(0)

* Q5. interpolate를 사용해보시오.
    * .interpolate(method='linear')

In [39]:
linear_NaN = data.interpolate(method='linear')
linear_NaN[data['Open'].isnull()]

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
458,2017-11-16,292250.0,300750.0,289500.0,297500.0,165752.0,1097.2,-0.0077
463,2017-11-23,296500.0,300000.0,294750.0,297000.0,66075.0,1084.0,-0.0019
487,2018-01-02,279000.0,283000.0,276500.0,281500.0,89114.0,1063.2,-0.0032
700,2018-11-15,272000.0,273750.0,267500.0,271500.0,68286.5,1127.9,-0.0042
945,2019-11-14,266500.0,269750.0,263250.0,266500.0,228016.0,1169.1,-0.0021

### 23.Feature Engineering

* 내일의 주가에 영향을 주는 요인은 무엇을까요?

In [40]:
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,0.0127
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.0004
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,0.0082
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-0.0027
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,0.0089

#### 1)날짜 데이터 다루기

* 날짜 변수 만들기  
    - 날짜변수를 만드는 이유!  
        - 날짜로부터 추가 변수를 도출해내기 위해서 날짜 변수를 만듭니다.  
        - 만약 추가변수 도출이 끝나면, 날짜변수는 제거합니다.

In [41]:
data2.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
exch_Close    float64
exch_Diff     float64
dtype: object

In [42]:
# 문자열 형식을 날짜 형식으로 변환
data2['Date'] = pd.to_datetime(data2['Date'])
print(data2.dtypes)

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume               float64
exch_Close           float64
exch_Diff            float64
dtype: object

* data2.Date.dt.dayofweek  : The day of the week with Monday=0, Sunday=6.
* data2.Date.dt.day_name() : 요일 이름
* data2.Date.dt.week : 1~53주
* data2.Date.dt.year
* data2.Date.dt.month

* 날짜로 부터 날짜요소 추출하기

In [43]:
# 요일을 추가해 봅시다. 
data2['WeekDay'] = data2.Date.dt.dayofweek
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,0.0127,0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.0004,1
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,0.0082,2
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-0.0027,3
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,0.0089,4

In [44]:
# 요일 이름으로 다시 추가.
data2['WeekDay'] = data2.Date.dt.day_name()
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,0.0127,Monday
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.0004,Tuesday
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,0.0082,Wednesday
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-0.0027,Thursday
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,0.0089,Friday

#### 2)이전 데이터 붙이기.  
- .shift( )   : 예) 전날 주가, 전날 환율
- .rolling( ) : 예)7일이동평균 주가

In [ ]:
# 전날 주가를 추가합니다.
data2['Close_lag1'] = data2['Close'].shift() # default = 1
data2.head()

In [ ]:
# 7일 이동평균 주가
data2['Close_MA7_lag1'] = data2['Close'].rolling(7, min_periods=1).mean().shift()
data2.head()

#### 실습 10 : feature engineering

* data2 변수를 이용하여 문제를 푸시오

* Q1. 월 데이터를 추가해보시오

In [70]:
data2['Month'] = data2.Date.dt.month
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

* Q2. 전날 거래량 컬럼, 전날 환율 증감 컬럼을 만드시오.

In [71]:
data2['Volume_lag1'] = data2['Volume'].shift()
data2['exch_Diff'] = data2['exch_Close'].diff()
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

* Q3. "전날 주가 - 전전날 주가" 컬럼을 만드시오.

In [72]:
data2["전날 주가 - 전전날 주가"] = data2['Close'].shift().diff()
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

* Q4. "전날 종가 - 전날 시가" 컬럼을 만드시오.

In [73]:
data2["전날 종가 - 전날 시가"] = data2['Close'].shift() - data2['Open'].shift()
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

* Q5. 그 외 추가하고 싶은 변수를 1 ~ 3개 정도 더 추가해보세요.

In [74]:
data2['변동 폭'] = data2['High'] - data2['Low']
data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

In [75]:

data2.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0

### 24.Dummy Variable
* 범주형 변수를 숫자로 만드는 방법
* pd.get_dummies, pd.concat, (Pandas Dataframe).drop
* 불필요한 칼럼들 제거

In [76]:
# dummy variable

dumm_weekday = pd.get_dummies(data2['WeekDay'], drop_first=True)

In [77]:
dumm_weekday.head()

   Monday  Thursday  Tuesday  Wednesday
0       1         0        0          0
1       0         0        1          0
2       0         0        0          1
3       0         1        0          0
4       0         0        0          0

In [108]:
data3 = pd.concat([data2, dumm_weekday], axis=1)
data3.head()

,Date,Open,High,Low,Close,Volume,exch_Close,exch_Diff,WeekDay,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭,Monday,Thursday,Tuesday,Wednesday
0,2016-01-04,243000.0,245000.0,234500.0,234500.0,173905.0,1190.4,NaN,Monday,1,NaN,NaN,NaN,10500.0,1,0,0,0
1,2016-01-05,236000.0,244000.0,234000.0,241000.0,182985.0,1190.8,0.4,Tuesday,1,173905.0,NaN,-8500.0,10000.0,0,0,1,0
2,2016-01-06,241000.0,243000.0,237500.0,239000.0,108574.0,1200.5,9.7,Wednesday,1,182985.0,6500.0,5000.0,5500.0,0,0,0,1
3,2016-01-07,237000.0,243000.0,236000.0,240500.0,113376.0,1197.3,-3.2,Thursday,1,108574.0,-2000.0,-2000.0,7000.0,0,1,0,0
4,2016-01-08,240500.0,242500.0,235000.0,241500.0,81557.0,1207.9,10.6,Friday,1,113376.0,1500.0,3500.0,7500.0,0,0,0,0

* 불필요한 변수를 제거합시다.

* 어떤 변수가 불필요한가요?  
    - 날짜
    - 전날로 뺀 변수의 원본
    - 가변수화 한 변수의 원본
    - 의미 없는 변수

In [109]:
# 칼럼삭제
drop_x = ['Date','Open','High','Low','Volume','exch_Close','exch_Diff','WeekDay']
data3.drop(drop_x, axis = 1, inplace = True)
data3.head()

,Close,Month,Volume_lag1,전날 주가 - 전전날 주가,전날 종가 - 전날 시가,변동 폭,Monday,Thursday,Tuesday,Wednesday
0,234500.0,1,NaN,NaN,NaN,10500.0,1,0,0,0
1,241000.0,1,173905.0,NaN,-8500.0,10000.0,0,0,1,0
2,239000.0,1,182985.0,6500.0,5000.0,5500.0,0,0,0,1
3,240500.0,1,108574.0,-2000.0,-2000.0,7000.0,0,1,0,0
4,241500.0,1,113376.0,1500.0,3500.0,7500.0,0,0,0,0

In [110]:
drop_x = ['전날 주가 - 전전날 주가', '전날 종가 - 전날 시가', '변동 폭']
data3.drop(drop_x, axis=1, inplace=True)
data3.head()

      Close  Month  Volume_lag1  Monday  Thursday  Tuesday  Wednesday
0  234500.0      1          NaN       1         0        0          0
1  241000.0      1     173905.0       0         0        1          0
2  239000.0      1     182985.0       0         0        0          1
3  240500.0      1     108574.0       0         1        0          0
4  241500.0      1     113376.0       0         0        0          0

In [111]:
# shift를 하다보내 행에 NaN이 다시 들어갔습니다. dropna로 제거합시다.
data3 = data3.dropna(axis = 0)
data3.head()

      Close  Month  Volume_lag1  Monday  Thursday  Tuesday  Wednesday
1  241000.0      1     173905.0       0         0        1          0
2  239000.0      1     182985.0       0         0        0          1
3  240500.0      1     108574.0       0         1        0          0
4  241500.0      1     113376.0       0         0        0          0
5  239000.0      1      81557.0       1         0        0          0

#### 실습 11 : dummy variable

* Q1. 주가 데이터에서 월에 대하여 가변수화 합니다.

In [112]:
dumm_month = pd.get_dummies(data3['Month'], prefix='M', drop_first=True)
dumm_month

     M_2  M_3  M_4  M_5  M_6  M_7  M_8  M_9  M_10  M_11  M_12
1      0    0    0    0    0    0    0    0     0     0     0
2      0    0    0    0    0    0    0    0     0     0     0
3      0    0    0    0    0    0    0    0     0     0     0
4      0    0    0    0    0    0    0    0     0     0     0
5      0    0    0    0    0    0    0    0     0     0     0
..   ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
972    0    0    0    0    0    0    0    0     0     0     1
973    0    0    0    0    0    0    0    0     0     0     1
974    0    0    0    0    0    0    0    0     0     0     1
975    0    0    0    0    0    0    0    0     0     0     1
976    0    0    0    0    0    0    0    0     0     0     1

[976 rows x 11 columns]

* Q2. 가변수한 데이터를 기존 데이터와 결합합니다. ( concat )

In [98]:
data4 = pd.concat([data3, dumm_month], axis=1)
data4.head()

,Close,Month,Volume_lag1,Monday,Thursday,Tuesday,Wednesday,M_2,M_3,M_4,M_5,M_6,M_7,M_8,M_9,M_10,M_11,M_12
1,241000.0,1,173905.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,239000.0,1,182985.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,240500.0,1,108574.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,241500.0,1,113376.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,239000.0,1,81557.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

* Q3. 가변수화 하기 이전의 월 컬럼을 제거하세요.

In [99]:
data4.drop('Month', axis=1, inplace=True)
data4.head()

,Close,Volume_lag1,Monday,Thursday,Tuesday,Wednesday,M_2,M_3,M_4,M_5,M_6,M_7,M_8,M_9,M_10,M_11,M_12
1,241000.0,173905.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,239000.0,182985.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,240500.0,108574.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,241500.0,113376.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,239000.0,81557.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

##### 간결한 방식

In [113]:
data3 = pd.get_dummies(data3, columns=['Month'], drop_first=True)

In [114]:
data3.columns

Index(['Close', 'Volume_lag1', 'Monday', 'Thursday', 'Tuesday', 'Wednesday',
       'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7',
       'Month_8', 'Month_9', 'Month_10', 'Month_11', 'Month_12'],
      dtype='object')

In [103]:
data3.head()

,Close,Volume_lag1,Monday,Thursday,Tuesday,Wednesday,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
1,241000.0,173905.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,239000.0,182985.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,240500.0,108574.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,241500.0,113376.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,239000.0,81557.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

--------------------------------
여기서 부터는 그냥 실행 해 볼 겁니다.  
데이터를 얼추(!) 준비했으니, 모델링까지 수행해 봅니다.

### 25.Data Split

sklearn의 데이터 분할 함수를 사용해 봅시다.

* 요인, x, feature, 조작변수, 통제변수, 리스크백터, Input, (독립변수)
* 결과, y, target, label, Output, (종속변수)

In [101]:
from sklearn.model_selection import train_test_split

/Users/cyeongy/opt/anaconda3/envs/kt-aivle/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [115]:
# features와 target 분리
X = data3.drop('Close', axis=1)
y = data3.iloc[:, 0]

In [116]:
# 전체에서 train : test = 7 : 3
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=1)

In [117]:
train_x.shape, train_y.shape

((683, 16), (683,))

### 26.Scaling features

In [127]:
max_n, min_n = train_x.max, train_y.min

In [133]:
pd.DataFrame(train_x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.057283,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.041175,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.031205,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.088194,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.038422,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,0.040556,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
679,0.055421,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
680,0.081438,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
681,0.061117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
682,0.127559,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
from sklearn.preprocessing import MinMaxScaler

In [119]:
# 사용할 함수 선언
scaler = MinMaxScaler()

In [120]:
# 함수 만들고
scaler.fit(train_x)

# 변환시키기
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [121]:
# 동시에

train_x = scaler.fit_transform(train_x)
test_x = scaler.fit_transform(test_x)

In [124]:
pd.DataFrame(train_x).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,0.078349,0.191801,0.199122,0.210835,0.196193,0.076135,0.098097,0.080527,0.083455,0.080527,0.092240,0.087848,0.084919,0.065886,0.086384,0.079063
std,0.053783,0.394006,0.399632,0.408200,0.397407,0.265408,0.297663,0.272307,0.276772,0.272307,0.289577,0.283281,0.278966,0.248264,0.281136,0.270035
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.052306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.065457,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.090351,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 27.Dataframe to Numpy array

## 30.모델링

### 31.import

In [134]:
# Linear Regression
from sklearn.linear_model import LinearRegression        # Linear Model
from sklearn.metrics   import mean_squared_error         # Metric  MSE

### 32.모델선언

In [135]:
# 모델 선언
model = LinearRegression()

### 33.모델링(학습)

In [136]:
model.fit( train_x , train_y )

LinearRegression()

### 34.예측

In [139]:
# 예측값을 뽑자.
test_pred = model.predict(test_x)
test_pred.shape

(293,)

### 35.평가

In [138]:
# test set에서의 성능 확인
mean_squared_error( test_y, test_pred, squared=False )

28718.760488255648

나온 결과의 의미는?