[2019 케글 대회, 타이타닉 생존 여부 체크](https://www.kaggle.com/competitions/2019-1st-ml-month-with-kakr/data)

In [1]:
import pandas as pd
import numpy as np

In [8]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
temp = test.isna().sum()

86

In [10]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [24]:
np.log(2)

0.6931471805599453

In [25]:
[0, 0] == [0, 1]

False

In [26]:
[0] == [1]

False

In [27]:
[0] == [0]

True

In [28]:
[_ for _ in range(4)] == [_ for _ in range(4)]

True

In [33]:
a = [ [_, _, _, _] for _ in range(4)]

In [34]:
b = [[_, _,_,_] for _ in range(4)]

In [35]:
a == b

True

In [36]:
b[0][0] = 1
a == b

False

In [37]:
a[0][0] = 1
a == b

True