<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

# 학습 목표

- MySQL에 연결하여 데이터를 가져올 수 있습니다.

### 1.라이브러리 설치

- MySQL 연결을 위해 pymysql 라이브러리를 설치합니다.

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

- 암호화 모듈을 설치한 후 런타임을 재시작합니다.(아나콘다의 경우 설치 불필요)

In [2]:
!pip install cryptography

Requirement already satisfied: cryptography in /Users/cyeongy/opt/anaconda3/envs/kt-aivle/lib/python3.8/site-packages (37.0.1)
Requirement already satisfied: cffi>=1.12 in /Users/cyeongy/opt/anaconda3/envs/kt-aivle/lib/python3.8/site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in /Users/cyeongy/opt/anaconda3/envs/kt-aivle/lib/python3.8/site-packages (from cffi>=1.12->cryptography) (2.21)

### 2.라이브러리 불러오기

- 사용할 라이브러리를 불러옵니다.

In [2]:
# 라이브러리 불러오기
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### 3.MySQL 연결


- 연결 관련 정보를 지정하여 MySQL에 연결합니다.
- 관련 정보와 권한을 얻기 위해서 서버 관리자의 협조가 필요할 수 있습니다.

In [45]:
# MySQL 연결
user = 'root'
password = ''
host = 'localhost'
database = 'myshop2019'

connect_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
mysql = create_engine(connect_string)

In [46]:
mysql.connect

### 4.데이터 읽어오기

- 데이터를 조회할 쿼리문을 작성합니다.(쿼리문 학습 필요)
- read_sql 함수를 사용해서 쿼리를 실행해 그 결과를 가져옵니다.
- 가져온 결과는 자동으로 데이터프레임이 됩니다.

**예제1) 조건에 맞는 데이터 가져오기**

In [47]:
# 쿼리문
sql = """
SELECT customer_name, customer_id, IF(gender='M', '남자', '여자') AS gender, 
       phone, city, register_date, point 
    FROM customer
    WHERE point >=50000
    ORDER BY customer_name ASC
"""

# 데이터프레임 만들기
data = pd.read_sql(sql, con=mysql) 

# 확인
data.head()

  customer_name customer_id gender          phone city register_date   point
0           금탁구      ppkeum     남자  010-8546-5974   광주    2016-04-28   93275
1           김가수    kasookim     남자  010-9601-2572   부산    2016-06-18  288660
2           김가야     gayakim     여자  010-6304-7411   서울    2019-05-21  129060
3           김감찬    gchankim     남자  010-8337-3218   수원    2017-04-09  125850
4           김건강   healthkim     남자  010-8546-3864   광주    2018-10-20   63545

**예제2) 집계 결과 가져오기**

In [48]:
# 쿼리문
sql = """
SELECT city AS 지역, 
       SUM(point) AS 포인트합, 
       GROUP_CONCAT(customer_name) AS 고객명 
    FROM customer
    WHERE YEAR(register_date) = 2017 AND point > 0
    GROUP BY city
    ORDER BY 포인트합 DESC
"""

# 데이터프레임 만들기
data = pd.read_sql(sql, con=mysql) 

# 확인
data.head(10)

    지역       포인트합                          고객명
0   서울  1629155.0                      김대표,한 산
1   인천  1272625.0  이모형,이국가,이바다,이등교,이위태,김청사,오유식
2   부산  1147675.0             남궁최고,최여신,이요가,김굴비
3   수원   376230.0              최횡재,김초록,김감찬,오대파
4   광주   314800.0                  최세기,양학사,박진지
5   강릉   160010.0                 이어른,최 수영,박마음
6   대구   102760.0                      환청자,이꿈날
7   경주   102620.0              최촌장,함거북,오사또,이망원
8  의정부    80345.0                      김모듬,김요리
9   울산    46840.0                          양나리

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=300/></center>